<p>Current Job Openings</p>

<section *ngFor="let job of availableDocs; let i = index">
  <ng-container *ngTemplateOutlet="jobTemp;context:{job: job, index: i}"></ng-container>
</section>

<ng-template #jobTemp let-job="job" let-index="index">
    <mat-expansion-panel>
        <mat-expansion-panel-header (click)="expandClick(index)" class="right-aligned-header">
          <mat-panel-title>
            {{ job.title }} - {{ job.datePosted }}
          </mat-panel-title>
          <mat-panel-description *ngIf="expandedView[index]">Click to shrink</mat-panel-description>
          <mat-panel-description *ngIf="!expandedView[index]">Click to expand</mat-panel-description>
        </mat-expansion-panel-header>
        
  <p>How Soon - {{ job.howSoon }}</p>
  <p>Salary - ${{ job.salary | number:'0.2' }}</p>
  <p>Description: {{ job.description }}</p>
  <p>Employment Type: {{ job.employmentType }} </p>
  <h4>Education Requirements</h4>
  <p>
    {{job.experienceRequirements}}
  </p>
  <h4>Education Requirements</h4>
  <p>{{ job.educationRequirements }}</p>
  <h4>Responsibilities</h4>
  <p>{{ job.responsibilities }}</p>
  <ngx-json-ld [json]="schema[index]"></ngx-json-ld>
</mat-expansion-panel>
</ng-template>
