mat-toolbar {
  display: flex;
}

mat-toolbar div {
  display: flex;
}

#titleName {
  flex-grow: 1;
  justify-content: flex-start;
}

#titleLinks {
  flex-grow: 3;
  justify-content: space-evenly;
}

#titleLogin {
  flex-grow: 1;
  justify-content: flex-end;
}
