mat-toolbar {
  display: flex;
}

mat-toolbar div {
  display: flex;
}

mat-toolbar button {
  font-weight: bold !important;
  font-size: 14 !important;
}

#titleName {
  flex-grow: 1;
  justify-content: flex-start;
}

#linkedIn {
  margin-top: 14px;
}

#titleLinks {
  flex-grow: 3;
  justify-content: space-evenly;
}

#titleLogin {
  flex-grow: 1;
  justify-content: flex-end;
}
