<div class="admin-row">
  <div class="inner">
    <select size="6">
      <option *ngFor="let form of availableItems; let i = index" (click)="listChange(i); selectedItem = form">
        {{ form.data.formName }}
      </option>
    </select>
  </div>
  <div class="inner">
    <div class="admin-input">
      <div>
        <input matInput placeholder="Form Name" [(ngModel)]="selectedItem.data.formName">
      </div>
      <div>
        <input matInput placeholder="Form Desc" [(ngModel)]="selectedItem.data.formDesc">
      </div>
    </div>
  </div>
</div>

<button mat-button class="add-button" *ngIf="selectedItemIndex == -1" (click)="addUpdateItem()">Add</button>
<button mat-button class="update-button" *ngIf="selectedItemIndex > -1" (click)="addUpdateItem()">Update</button>
<button mat-button class="remove-button" *ngIf="selectedItemIndex > -1" (click)="removeItem()">Remove</button>
<button mat-button class="clear-button" (click)="clearItem()">Clear</button>