<div *ngIf="isActive('/e-commerce')">

  <mat-toolbar color="primary">
    <div>
      Filter by Type
      <mat-select [(ngModel)]="selectedType">
        <mat-option *ngFor="let type of availableTypes" [value]="type" (click)="filterSubTypes()">
          {{ type.typeName }}
        </mat-option>
      </mat-select>
    </div>

    <div *ngIf="selectedType">
      Filter by Subtype
      <mat-select [(ngModel)]="selectedSubType">
        <mat-option *ngFor="let subtype of availableSubTypes" [value]="subtype">
          {{ subtype.subTypeName }}
        </mat-option>
      </mat-select>
    </div>
    <div>
      Filter by Form
      <mat-select [(ngModel)]="selectedForm">
        <mat-option *ngFor="let form of availableForms" [value]="form">
          {{ form.formName }}
        </mat-option>
      </mat-select>
    </div>
    <div>
      <button mat-button (click)="filterForSale()">Filter Marketplace</button>
      <button mat-button (click)="clearFilters()">Clear Filters</button>
    </div>
  </mat-toolbar>

  <mat-grid-list cols="3" rowHeight="300px" gutterSize="16">
    <mat-grid-tile *ngFor="let forSale of filteredForSale">
      <div class="grid-col">
        <div>
          <img [src]="getImgSrc(forSale)">
        </div>
        <div>
          <b>{{ forSale.name }}</b>
        </div>
        <div>
          List Price ${{ forSale.price | number:'0.2' }}
        </div>
        <br>
        <div>
          <div class="grid-row">
            <div>
              <button mat-raised-button color="primary">More Info</button>
            </div>
            <div>
              <button mat-raised-button *ngIf="userId" (click)="addToWishlist(forSale)">Add to Wishlist</button>
            </div>
            <div>
              <input matInput placeholder="Quantity" type="number" value="1" min="1" max="99" #itemQuantity>
            </div>
            <div>
              <button mat-icon-button (click)="addToCart(forSale, itemQuantity.value)">
                  Total: <b>{{ forSale.price * itemQuantity.value | number:'0.2' }}</b>
                <mat-icon>add_shopping_cart</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

    </mat-grid-tile>
  </mat-grid-list>
</div>
<div *ngIf="isActive('/e-commerce/shopping-cart')">
  <router-outlet></router-outlet>
</div>
