<div class="admin-row">
  <div class="inner">
    <select size="8">
      <option *ngFor="let advisor of availableItems; let i = index" (click)="listChange(i); selectedItem = advisor">
        {{ advisor.data.advisorName }}
      </option>
    </select>
  </div>
  <div class="inner">
    <div class="admin-input">
      <div>
        <input matInput placeholder="Advisor Name" [(ngModel)]="selectedItem.data.advisorName">
      </div>
      <div>
        <input matInput placeholder="Title" [(ngModel)]="selectedItem.data.title">
      </div>
      <div>
        <input matInput placeholder="Company" [(ngModel)]="selectedItem.data.company">
      </div>
      <div>
        <input matInput placeholder="Image Url" [(ngModel)]="selectedItem.data.image">
      </div>
      <div>
        <input matInput placeholder="Logo Width" [(ngModel)]="selectedItem.data.logoWidth">
      </div>
      <div>
        <input matInput placeholder="Logo Height" [(ngModel)]="selectedItem.data.logoHeight">
      </div>
    </div>
  </div>
  <div class="inner">
    <textarea matInput placeholder="Background" [(ngModel)]="selectedItem.data.background"></textarea>
  </div>
</div>