<div class="admin-row">
  <div class="inner">
    <select size="6">
      <option *ngFor="let faq of availableItems; let i = index" (click)="listChange(i); selectedItem = faq">
        {{ faq.data.question }}
      </option>
    </select>
  </div>
  <div class="inner">
    <div class="admin-input">
      <div>
        <textarea matInput placeholder="Question" [(ngModel)]="selectedItem.data.question"></textarea>
      </div>
      <div>
        <input matInput placeholder="FAQ Section" [(ngModel)]="selectedItem.data.section">
      </div>
    </div>
  </div>
  <div class="inner">
    <textarea matInput placeholder="Answer" [(ngModel)]="selectedItem.data.answer"></textarea>
  </div>
</div>