<div class="admin-row">
  <div class="inner">
    <select size="6">
      <option *ngFor="let job of availableItems; let i = index" (click)="listChange(i); selectedItem = job">
        {{ job.data.title }}
      </option>
    </select>

  </div>
  <div class="inner">
    <div class="admin-input">
      <div>
        <input matInput placeholder="Position Name" [(ngModel)]="selectedItem.data.title">
      </div>
      <div>
        <input matInput placeholder="Salary" [(ngModel)]="selectedItem.data.salary">
      </div>
      <div>
        <input matInput placeholder="Education" [(ngModel)]="selectedItem.data.educationRequirements">
      </div>
      <div>
        <input matInput placeholder="How Soon" [(ngModel)]="selectedItem.data.howSoon">
      </div>
      <div>
        <input matInput placeholder="Posting Date" [matDatepicker]="JobDate" [(ngModel)]="selectedItem.data.datePosted">
        <mat-datepicker-toggle [for]="JobDate"></mat-datepicker-toggle>
        <mat-datepicker #JobDate></mat-datepicker>
      </div>
      <div>
        <input matInput placeholder="Employment Type" [(ngModel)]="selectedItem.data.employmentType">
      </div>
    </div>
  </div>
  <div class="inner">
    <div>
      <textarea matInput placeholder="Description" [(ngModel)]="selectedItem.data.description"></textarea>
    </div>
  </div>
</div>
<div class="admin-row">
  <div class="inner">
    <app-experience [(job)]="selectedItem.data"></app-experience>
  </div>
  <div class="inner">
    <app-requirements [(job)]="selectedItem.data"></app-requirements>
  </div>
</div>