app-header, #appBody, app-footer { 
    right:0;
    left:0
}

app-header {
    height: 64px;
    top: 0;
    position: fixed;
}

#appBody {
    top: 66px;
    bottom: 0px;
    width: 90%;
    margin-left: 5%;
    padding-right: 5%;
    overflow: auto;
    position: absolute;
}
