<ng-container *ngTemplateOutlet="expPanel;context:{index: 0, title: 'Job Postings'}"></ng-container>
<ng-container *ngTemplateOutlet="expPanel;context:{index: 1, title: 'FAQs'}"></ng-container>
<ng-container *ngTemplateOutlet="expPanel;context:{index: 2, title: 'E-Commerce'}"></ng-container>
<ng-container *ngTemplateOutlet="expPanel;context:{index: 3, title: 'Blogs'}"></ng-container>
<ng-container *ngTemplateOutlet="expPanel;context:{index: 4, title: 'Advisors'}"></ng-container>

<ng-template #expPanel let-index="index" let-title="title">
  <mat-expansion-panel>
    <mat-expansion-panel-header (click)="expandClick(index)">
      <mat-panel-title>
        {{ title }}
      </mat-panel-title>
      <mat-panel-description *ngIf="expandedView[index]">Click to shrink</mat-panel-description>
      <mat-panel-description *ngIf="!expandedView[index]">Click to expand</mat-panel-description>
    </mat-expansion-panel-header>
    <app-jobs *ngIf="index==0" [cmpIndex]="index"></app-jobs>
    <app-faqs *ngIf="index==1" [cmpIndex]="index"></app-faqs>
    <app-for-sale *ngIf="index==2" [cmpIndex]="index"></app-for-sale>
    <app-blog *ngIf="index==3" [cmpIndex]="index"></app-blog>
    <app-advisors *ngIf="index==4" [cmpIndex]="index"></app-advisors>
    <button mat-button *ngIf="expandedIndex[index] == -1" (click)="btnClick(index, btnAction.AddUpdate)">Add</button>
    <button mat-button *ngIf="expandedIndex[index] > -1" (click)="btnClick(index, btnAction.AddUpdate)">Update</button>
    <button mat-button *ngIf="expandedIndex[index] > -1" (click)="btnClick(index, btnAction.Remove)">Remove</button>
    <button mat-button (click)="btnClick(index, btnAction.Clear)">Clear</button>
  </mat-expansion-panel>
</ng-template>