<img src="./../../assets/Analytics.PNG">
<br>
<h2>Search Engine Optimization</h2>
<p>This site has been optimized based on the following
    <br>
    <a href="https://www.searchenginejournal.com/xml-sitemaps-seo/266907/">How to Use XML Sitemaps to Boost SEO</a>
    <img src="./../../assets/google search.PNG">
</p>
<p>
    And structured metadata added to the following:
</p>
<ul>
    <li>root page<br>
        <img src="./../../assets/app schema.JPG"></li>
    <li>blog<br>
        <img src="./../../assets/blog schema.PNG"></li>
    <li>careers<br>
        <img src="./../../assets/job schema.PNG"></li>
    <li>support/contact-us<br>
        <img src="./../../assets/contact us schema.PNG"></li>
    <li>support/faq<br>
        <img src="./../../assets/faq schema.PNG"></li>
</ul>
<p>
    This metadata was added based on instructions from:
    <br>
    <a href="https://coryrylan.com/blog/angular-seo-with-schema-and-json-ld">
        Angular SEO with schema and JSON-LD</a>
    <br>
    With formatting based on <a href="https://schema.org/">https://schema.org/</a>
    <br>
    Additionally, the blog, careers and faq section have there metadata generated programatically
    based on the dat apulled from firebase
</p>