<div *ngIf="userDoc">
    Order History:
    <br>
    <div *ngFor="let order of userDoc.orders">
      Order Date: {{ order.orderDate | date }} 
      <br>
      Shipped To: {{ order.shipTo.addrLine1 }}
      <br>
      Items Purchased:
      <br>
      <div *ngFor="let item of userDoc.orderItems"><p>
        {{ item.item.name }} - {{ item.item.desc }} <br>
        {{ item.quantity }} @ {{ item.item.price }} 
      </p></div>
    </div>
</div>
<div *ngIf="!userDoc">
  No purchases have been made
</div>