<div class="text-heavy">
  <h4>Funding</h4>
  <p>
    We feel that by concentrating on a single market, stainless steel, we can work out the kinks of the our MVP within
    a year and after that point we should be reliant upon generated revenues from the original client base while
    pushing forward with expansion options. As the entirety of the industrial materials market could easily surpass a
    trillion, skimming even a percentage of a percentage amounts to hundreds of millions in potential. This is
    obviously unrealistic early on, but it does represent the potential available to us a we expand outward into
    different niches, integrating multiple levels of material sourcing.</p>
  <p>
    Because f this potential, we feel that an angel investor would be willing to risk up to 1 million. With a number of
    shipyards and factories along the east coast, we should have do issues finding as a receptive client. Once we are
    able to map their systems RFQ fields, we will then visit their largest suppliers and map their quote fields. At
    this point actual usage of the API will begin. Outgoing material requests will now be instantly created as quotes
    in the suppliers systems and we can begin generating revenue for the convenience. </p>
  <p>
    With communication between buyer and seller now in place, one team can begin working on the response logic, another
    on adding in the largest buyers from the connected suppliers systems. In this way we will create a web of connected
    buyers and sellers, potentially exponentially increasing the volume of calls going across our API with each growth
    iteration reaching out from the buyers largest sellers to the sellers largest buyers with even more potential when
    we reach out to the tier one sellers own suppliers.</p>
  <p>
    Properly done, funding itself should not need to be outlandish as revenue generation can begin within a year, only
    requirements may be just how hungry, figuratively and literally the team is. </p>
</div>