<h2>Company Benefits</h2>
<p>
  Online Material Sourcing seeks to become the major player in the material sourcing industry by offering above market
  pay and benefits in order to attract top talent.
</p>
<h3>Work From Home</h3>
<p>
  As an online platform we will leverage our immediate lack of need for a corporate headquarters by offering the ability
  to work from home to all employees.
</p>  
<h3>Paid Time Off</h3>
<p>
  All employees will have the ability to take up to 15 days per year off, not including any holidays or bereavement. This
  time combines the traditional vacation and sick leave into the simpler Paid Time Off and accrues by a set amount as the
  year progresses. In other words, not all of your total earnable leave is available on day 1.
</p>
<h3>Insurance</h3>
<p>
  OMS offers a competitive insurance plan featuring medical, vision, and dental offerings.
</p>
<h3>401k & Profit Sharing</h3>
<p>
  Beyond the compensation offered in our careers section, OMS will match up to 10% of an employee’s 401k contribution and
  as we grow, profit sharing will become more prevalent.
</p>


