<h2>Expected Growth</h2>
<img src="../../../assets/growth.png">
<p>We project OMS will experience steady growth in the first to second years of business, before entering 2021 with
  major increase. We base this projection off the following factors: First industry trends in manufacturing showing how
  today web-based e-commerce and digital platforms will soon become the norm for the majority of manufacturing
  businesses across the globe. Second, manufacturing projects often taken a decent amount of time. After three years
  many of these projects which have enlisted services of OMS will be coming to fruition. Finally, OMS will spend much
  of its early life attempting to gain notoriety and a foothold in established industry, first steel and then expanding
  out from there. After a one to two year period this strategic phase will be over and OMS will have a strong growing
  position in the various manufacturing industries.</p>