<p>Our Blog</p>

<section *ngFor="let blog of availableDocs; let i = index">
  <ng-container *ngTemplateOutlet="blogTemp;context:{blog: blog, index: i}"></ng-container>
</section>

<ng-template #blogTemp let-blog="blog" let-index="index">
  <mat-expansion-panel>
    <mat-expansion-panel-header (click)="expandClick(index)">
      <mat-panel-title>
          {{ blog.blogDate | date }} - {{ blog.title }}
      </mat-panel-title>
      <mat-panel-description *ngIf="expandedView[index]">Click to shrink</mat-panel-description>
      <mat-panel-description *ngIf="!expandedView[index]">Click to expand</mat-panel-description>
    </mat-expansion-panel-header>
    {{ blog.author }}
    <br>
    <div [innerHTML]="blog.contents"></div>
    <ngx-json-ld [json]="postingSchema[index]"></ngx-json-ld>
  </mat-expansion-panel>  
</ng-template>