<div class="admin-row">
  <div class="inner">
    <select size="6">
      <option *ngFor="let forSale of availableItems; let i = index" (click)="selectedItem = forSale; listChange(i)">
        {{ forSale.data.name }}
      </option>
    </select>
  </div>
  <div class="inner">
    <select size="6" [(ngModel)]="selectedItem.data.type">
      <option *ngFor="let type of availableTypes" (click)="filterSubTypes(type.typeName)" [ngValue]="type.typeName">
        {{ type.typeName }}
      </option>
    </select>
  </div>
  <div class="inner">
    <select size="6" [(ngModel)]="selectedItem.data.subtype">
      <option *ngFor="let subtype of useableSubtypes" [ngValue]="subtype.subTypeName">
        {{ subtype.subTypeName }}
      </option>
    </select>
  </div>
  <div class="inner">
    <select size="6" [(ngModel)]="selectedItem.data.form">
      <option *ngFor="let form of availableForms" [ngValue]="form.formName">
        {{ form.formName }}
      </option>
    </select>
  </div>

  <div class="inner">
    <div class="admin-input">
      <div>
        <input matInput placeholder="Name" [(ngModel)]="selectedItem.data.name">
      </div>
      <div>
        <input matInput placeholder="Description" [(ngModel)]="selectedItem.data.desc">
      </div>
      <div>
        <input matInput type="number" placeholder="Price" [(ngModel)]="selectedItem.data.price">
      </div>
      <div>
        <input matInput placeholder="Image Link" [(ngModel)]="selectedItem.data.imageRef">
      </div>
    </div>
  </div>
</div>