<div class="text-heavy">
    <h3>Our Mission</h3>
    <p>
        The mission of OMS is to improve the efficiency of the buying and selling process within the industrial
        materials world. We will push the industry forward with a relentless drive toward automation of repetitive, inefficient
        processes and the adopting of the newest technologies allowing us to pivot as needed.
    </p>
    <h3>Our Culture, Our Drive</h3>
    <p>
        Helmed by four experienced and motivated individuals, OMS features both a loose atmosphere and an intense air
        of “go, Go, GO!”. Aiming to change an industry that can be laughably stuck in it’s ways, the members of OMS know
        full well their task will not be an easy one.
    </p>
    <p>
        Having experienced firsthand the tediousness that is taking a large RFQ and entering into one’s own system, the
        OMS team know that the current process leaves much to be desired. Recognizing that a properly configured, automated
        system can handle this process near instantaneously, and that the actual process as performed by sellers in
        response to potential buyers, is not a value add. The faster they can get such requests entered into their
        systems, the faster they can respond and the greater the likelihood of quote acceptance. 
    </p>
</div>