/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  font-family: 'Robot', sans-serif;
  height: 100%;
}

body {
  margin: 0;
}

.right-aligned-header > .mat-content {
  justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
flex: 0 0 auto;
}

.add-button {
  background-color: green;
  color: white !important;
}

.update-button {
  background-color: cyan;
  color: black !important;
}

.remove-button {
  background-color: red;
  color: black !important;
}

.clear-button {
  background-color: blue;
  color: white !important;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
  margin-left: 20px !important;
}
