<h4>Our Advisors</h4>

<section *ngFor="let advisor of availableDocs; let i = index">
  <ng-container *ngTemplateOutlet="advisorTemp;context:{advisor: advisor, index: i}"></ng-container>
</section>

<ng-template #advisorTemp let-advisor="advisor" let-index="index">
  <hr *ngIf="index != 0">
  <div class="advisor">
    <div>
      <img [src]="getLocalImage(advisor, advisor.advisorName)" *ngIf="!advisor.image" [height]="advisor.logoHeight"
        [width]="advisor.logoWidth">
      <img [src]="advisor.image" *ngIf="advisor.image" [height]="advisor.logoHeight" [width]="advisor.logoWidth">
    </div>
    <div>
      <h2>{{ advisor.advisorName }}</h2>
      <h4>{{ advisor.company }} - {{ advisor.title }}</h4>
      <div [innerHtml]="advisor.background"></div>
    </div>
  </div>
</ng-template>