<div class="text-heavy">

  <p>Welcome Online Material Sourcing, the premier solution for industrial material sourcing</p>
  
  <p>At Online Material Sourcing, our goal is to dramatically increase the efficiency of sourcing materials within the
    broad industrial materials market. By integrating our API into the ERP systems of both buyers and sellers, OMS will
    act as a facilitator and automate the process. Sellers will have requests automatically created within their systems
    and buyer will get legitimate responses from sellers based on their requirements. No more waiting for a large
    request to be transposed. Furthermore, sellers who link to their own vendors will gain the ability to quote material they
    themselves do not have in stock, no need to wait for their own suppliers to respond.
  </p>
  <p>
    This API integration across multiple levels of the sourcing process will dramatically increase the efficiency and
    more importantly, allow our clients to focus on the value-add activities that they specialize, not the necessary
    evil that is the procurement process.
  </p>
  <p>
    We recognize that this process will not be simple. There are a number of large scale ERP systems to integrate with
    our own solution and any number of middle tier home grown solutions that serve specialty markets and private
    companies. While the end game will feature the company going public, we do not feel it will happen within this
    decade. 2019 alone will be spent taking our MVP through multiple iterations, not just in the tweaking necessary for
    communications between the client systems and out own, but ensuring all the necessary logic is in place so that the
    best combination of pricing and availability is returned.
  </p>
</div>